<%- include('other/header'); -%>

<div class="container">

    <div class="search"></div>

    <div class="row">

        <div class="col s12 m8">
            <div class="you-might-like">
                <p class="i-title">Blogs you might like</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="subscriptions">
                <div class="container">
                    <p class="i-title">Subscriptions</p>
                    <div class="sub-accounts">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('other/footer'); -%>
