:root {
    --black: #231F20;
    --white: #EDF2F4;
    --red: #FF0022;
    --blue: #8ACDEA;
    --green: #BEEF9E;
}

/* Navbar style */
nav {
    background: var(--red) !important;
    color: var(--white) !important;
}

.dropdown-content li {
    background: var(--white);
}

.dropdown-content li > a, .dropdown-content li > span {
    color: var(--red) !important;
}