<div class="footer">
    Website developed by <a href="http://smath.io" target="_blank">Smath</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/javascripts/cookie.js"></script>
<script src="/javascripts/search.js"></script>

<!-- Insert all JavaScripts here! -->

<script>

    $(document).ready(function(){
        $(".sidenav").sidenav();
        let dropdown = $(".dropdown-trigger");
		dropdown.dropdown();

		$("#navbar-close").click((e) => {
			dropdown.close();
		});

		let today = new Date();
		let year = today.getFullYear();

        $('.datepicker').datepicker({
            format: "dd.mm.yyyy",
            maxDate: today,
            firstDay: 1,
            yearRange: [1900,year]
        });

    });

	let cookie = new Cookie(document);

	//Check if user has logged, if not update navbar without account dropdown
	if(!cookie.checkCookie("login")){
		$('.dropdown-content').html(`
			<li> <a href="/login"> <i class="material-icons">vpn_key</i> Log in </a></li>
			<li> <a href="/login/register"> <i class="material-icons">lock</i> Register </a></li>`);
	}

</script>

</body>
</html>
